@page "/fechamento-sede"
@rendermode InteractiveServer

@inject IJSRuntime JS


<PageTitle>Fechamento Sede</PageTitle>

<h1>Fechamento Sede</h1>

<Table Striped Bordered>
    <TableHeader ThemeContrast="ThemeContrast.Dark">
        <TableRow>
            <TableHeaderCell>#</TableHeaderCell>
            <TableHeaderCell>First Name</TableHeaderCell>
            <TableHeaderCell>Last Name</TableHeaderCell>
            <TableHeaderCell>Username</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>1</TableRowHeader>
            <TableRowCell>Mark</TableRowCell>
            <TableRowCell>Otto</TableRowCell>
            <TableRowCell>@@mdo</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>2</TableRowHeader>
            <TableRowCell>Jacob</TableRowCell>
            <TableRowCell>Thornton</TableRowCell>
            <TableRowCell>@@fat</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>3</TableRowHeader>
            <TableRowCell>Larry</TableRowCell>
            <TableRowCell>the Bird</TableRowCell>
            <TableRowCell>@@twitter</TableRowCell>
        </TableRow>
    </TableBody>
</Table>

<Check TValue="bool" Checked="@rememberMe" CheckedChanged="@OnRememberMeChanged"></Check>
@* <button class="btn btn-secondary btn-sm" @onclick="copyText('beltrano@gmail.com')"><i class="bi bi-clipboard"></i></button> *@

<button class="btn btn-success btn-sm"><i class="bi bi-whatsapp"></i></button>


@*  @foreach (var product in products)
        {
            <tr>
                <td>
                    <Checkbox TValue="bool" @bind-Checked="product.IsSelected" />
                </td>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        } *@

@code {
    bool rememberMe;

    void OnRememberMeChanged(bool value)
    {
        rememberMe = value;
    }

    private async Task copyText(string operacao)
    {
        await JS.InvokeVoidAsync("navigator.clipboard.writeText", operacao);
    }
}
