@page "/quantidades-interior"
@using System.Net
@rendermode InteractiveServer

@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using System.Text.Json
@inject IJSRuntime JS
@inject ApiService ApiService
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Quantidades Interior</PageTitle>

<h1>Quantidades Interior</h1>

<Alert @bind-Visible="showAlert" Color="@alertColor" >
    @alertMessage
    <CloseButton />
</Alert>

@if (permissao == "1" || permissao == "2")
{
    <EditForm Model="filtroPagamento" OnValidSubmit="BuscarQuantidades">
        <div class="form-row d-flex justify-content-between">
            <div class="form-group col-md-3 d-flex align-items-center">
                <label class="mr-2"><strong>Mês:</strong></label>
                <InputSelect @bind-Value="filtroPagamento.Mes">
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </InputSelect>
            </div>
            <div class="form-group col-md-3 d-flex align-items-center">
                <label class="mr-2"><strong>Ano:</strong></label>
                <InputSelect @bind-Value="filtroPagamento.Ano">
                    @foreach (var ano in Enumerable.Range(2024, DateTime.Now.Year - 2023))
                    {
                        <option value="@ano">@ano</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group col-md-3 align-self-end">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </EditForm>
    <br />
    <Table Striped Bordered Editable>
        <TableHeader ThemeContrast="ThemeContrast.Dark">
            <TableRow>
                <TableHeaderCell class="id-coluna">#</TableHeaderCell>
                <TableHeaderCell class="nome-coluna">Nome</TableHeaderCell>
                <TableHeaderCell class="nome-coluna">Cidade</TableHeaderCell>
                @foreach (var entrega in entregas)
                {
                    <TableHeaderCell class="quantidades-coluna">@entrega.Nome</TableHeaderCell>
                }
                <TableHeaderCell class="quantidades-coluna">Total</TableHeaderCell> 
            </TableRow>
        </TableHeader>
        <TableBody>
            @if (entregadores != null)
            {
                int rowIndex = 1;
                foreach (var entregador in entregadores)
                {
                    <tr @key="entregador.Id">
                        <td><strong>@rowIndex</strong></td>
                        <td>@entregador.Nome @entregador.Sobrenome</td>
                        <td>
                            <Select TValue="int" SelectedValue="@entregador.CidadeId" SelectedValueChanged="@(async (cidadeId) => await ChangePagamento(entregador.Id, cidadeId))">
                                <option value="0">Selecione uma cidade</option>
                                @foreach (var cidade in cidades)
                                {
                                    <option value="@cidade.Id">@cidade.Nome</option>
                                }
                            </Select>
                        </td>
                        @foreach (var entrega in entregas)
                        {
                            <td @key="entrega.Id">
                                <NumericEdit Plaintext TValue="int" Min=0 Value="@GetQuantidade(entregador, entrega)" ValueChanged="@(async (valor) => await OnQuantidadeChanged(entregador, entrega, valor))" />
                            </td>
                        }
                        <td><strong>@GetTotalQuantidadeEntregador(entregador)</strong></td> 
                    </tr>
                    rowIndex++;
                }
                <tr>
                    <td colspan="3"><strong>Total</strong></td>
                    @foreach (var entrega in entregas)
                    {
                        <td><strong>@GetTotalQuantidade(entrega)</strong></td>
                    }
                    <td><strong>@GetTotalGeral()</strong></td> 
                </tr>
            }
        </TableBody>
    </Table>
}
else
{
    <p>Você não tem permissão para acessar esta página.</p>
}

@code {
    private List<Entregador> entregadores = new List<Entregador>();
    private List<Entrega> entregas = new List<Entrega>();
    private List<Pagamento> pagamentos = new List<Pagamento>();
    private List<Cidade> cidades = new List<Cidade>();

    private Dictionary<int, Task<int>> cidadeTasks = new Dictionary<int, Task<int>>();


    private string token = string.Empty;
    private string permissao = string.Empty;

    private FiltroPagamento filtroPagamento = new FiltroPagamento();
    private CancellationTokenSource? debounceCts;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            // Obtenha a permissão do usuário a partir das claims
            permissao = user.FindFirst(c => c.Type == "permissao")?.Value;

            if (permissao == "1" || permissao == "2")
            {
                await LoadCidades();
                await LoadEntregadores();
                await LoadEntregas();
                await LoadQuantidades();
                await LoadAssociationsCities();
            }

            StateHasChanged(); // Força a atualização do componente após a inicialização
        }
    }

    private async Task LoadEntregadores()
    {
        try
        {
            var todosEntregadores = await ApiService.GetDataAsync<List<Entregador>>("api/Entregador/entregadores");

            // Calcular a data correta com base no mês e ano selecionados, sempre dia 01
            DateOnly data = new DateOnly(filtroPagamento.Ano, filtroPagamento.Mes, 01);

            // Obter pagamentos para o mês e ano selecionados
            var pagamentos = await ApiService.GetDataAsync<List<Pagamento>>($"api/Pagamento/pagamentos/{data.ToString("yyyy-MM-dd")}");

            // Verificar se a data do filtro é anterior a dois meses
            DateTime dataFiltro = new DateTime(filtroPagamento.Ano, filtroPagamento.Mes, 1);
            DateTime doisMesesAtras = DateTime.Now.AddMonths(-2);

            if (dataFiltro < doisMesesAtras)
            {
                // Inclui entregadores inativos
                entregadores = todosEntregadores.Where(e => e.Situacao == false).ToList();
            }
            else
            {
                // Filtra apenas entregadores ativos
                todosEntregadores = todosEntregadores.Where(e => e.Situacao).ToList();
            }

            // Exclui entregadores que possuem pagamento no dia 1 do mês selecionado
            entregadores = todosEntregadores.Where(e => !pagamentos.Any(p => p.FkEntregador == e.Id)).ToList();

            foreach (var entregador in entregadores)
            {
                var pagamento = pagamentos.FirstOrDefault(p => p.FkEntregador == entregador.Id);
                if (pagamento != null)
                {
                    var cidade = cidades.FirstOrDefault(c => c.Id == pagamento.FkCidade);
                    if (cidade != null)
                    {
                        entregador.CidadeId = cidade.Id;
                        entregador.CidadeNome = cidade.Nome;
                    }
                }
            }

            entregadores = entregadores.OrderBy(e => e.Nome).ThenBy(e => e.Sobrenome).ToList();
        }
        catch (Exception)
        {
            ShowAlert("Erro ao carregar entregadores", Color.Danger);
        }
    }

    private async Task LoadEntregas()
    {
        try
        {
            entregas = await ApiService.GetDataAsync<List<Entrega>>("api/Entrega/entregas");
            entregas = entregas.Where(e => e.Situacao).ToList(); // Filtrar apenas entregas ativas
            entregas = entregas
                .GroupBy(e => e.Nome) // Agrupa por nome
                .Select(g => g.First()) // Seleciona o primeiro item de cada grupo
                .OrderBy(e => e.Nome != "Kms") // Coloca "Kms" por último
                .ThenBy(e => e.Nome)
                .ThenBy(e => e.Valor).ToList();
        }
        catch (Exception)
        {
            ShowAlert("Erro ao carregar entregas", Color.Danger);
        }
    }

    private async Task LoadCidades()
    {
        try
        {
            cidades = await ApiService.GetDataAsync<List<Cidade>>("api/Cidade/cidades");
            cidades = cidades.Where(c => c.Id != 1).ToList(); // Excluir cidade com id 1
            cidades = cidades.OrderBy(c => c.Nome).ToList();
        }
        catch (Exception)
        {
            ShowAlert("Erro ao carregar cidades", Color.Danger);
        }
    }

    private async Task LoadQuantidades()
    {
        try
        {
            // Calcular a data correta com base no mês e ano selecionados, sempre dia 10
            DateOnly data = new DateOnly(filtroPagamento.Ano, filtroPagamento.Mes, 10);

            // Fazer a requisição para a API com o parâmetro de data e obter pagamentos
            pagamentos = await ApiService.GetDataAsync<List<Pagamento>>($"api/Pagamento/pagamentos/{data.ToString("yyyy-MM-dd")}") ?? new List<Pagamento>();

            // Limpar as quantidades antigas
            foreach (var entregador in entregadores)
            {
                entregador.Quantidades?.Clear();
            }

            // Atualizar as quantidades com os novos dados de pagamentos
            foreach (var pagamento in pagamentos)
            {
                var entregador = entregadores.FirstOrDefault(e => e.Id == pagamento.FkEntregador);
                if (entregador != null)
                {
                    List<PagamentoEntrega> pagamentoEntregas;
                    try
                    {
                        pagamentoEntregas = await ApiService.GetDataAsync<List<PagamentoEntrega>>($"api/PagEnt/pagamentoentrega/pagamento/{pagamento.Id}") ?? new List<PagamentoEntrega>();
                    }
                    catch (HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.NotFound)
                    {
                        // Se o erro for 404, inicialize pagamentoEntregas como uma lista vazia para evitar interrupção
                        pagamentoEntregas = new List<PagamentoEntrega>();
                    }

                    foreach (var pagamentoEntrega in pagamentoEntregas)
                    {
                        var entrega = entregas.FirstOrDefault(e => e.Id == pagamentoEntrega.FkEntrega);
                        if (entrega != null && entrega.Nome != null)
                        {
                            entregador.Quantidades![entrega.Nome] = pagamentoEntrega.Quantidade;
                        }
                    }
                }
            }
        }
        catch (Exception ex)
        {
            ShowAlert("Erro ao carregar quantidades: " + ex, Color.Danger);
        }
    }

    private async Task LoadAssociationsCities()
    {
        try
        {
            DateOnly data = new DateOnly(filtroPagamento.Ano, filtroPagamento.Mes, 10);

            // Fazer a requisição para a API com o parâmetro de data e obter pagamentos
            var pagamentos = await ApiService.GetDataAsync<List<Pagamento>>($"api/Pagamento/pagamentos/{data.ToString("yyyy-MM-dd")}") ?? new List<Pagamento>();

            foreach (var pagamento in pagamentos)
            {
                var entregador = entregadores.FirstOrDefault(e => e.Id == pagamento.FkEntregador);
                if (entregador != null)
                {
                    var cidade = cidades.FirstOrDefault(c => c.Id == pagamento.FkCidade);
                    if (cidade != null)
                    {
                        entregador.CidadeId = cidade.Id;
                        entregador.CidadeNome = cidade.Nome;
                    }
                }
            }
        }
        catch (Exception ex)
        {
            ShowAlert("Erro ao carregar associações entre entregador e cidade: " + ex.Message, Color.Danger);
        }
    }

    private int GetTotalQuantidade(Entrega entrega)
    {
        return entregadores.Sum(entregador => GetQuantidade(entregador, entrega));
    }

    private int GetTotalQuantidadeEntregador(Entregador entregador)
    {
        return entregador.Quantidades?.Values.Sum() ?? 0;
    }

    private int GetTotalGeral()
    {
        return entregadores.Sum(entregador => GetTotalQuantidadeEntregador(entregador));
    }

    private async Task ChangePagamento(int entregadorId, int cidadeId)
    {
        try
        {
            DateOnly data = new DateOnly(filtroPagamento.Ano, filtroPagamento.Mes, 10);
            List<Pagamento> response = null;
            try
            {
                // Fazer a chamada para obter os pagamentos
                response = await ApiService.GetDataAsync<List<Pagamento>>($"api/Pagamento/pagamentos/{data.ToString("yyyy-MM-dd")}/{entregadorId}");
            }
            catch (HttpRequestException ex)
            {
                // Verifica se a exceção foi causada por um 404 Not Found
                if (ex.Message.Contains("404"))
                {
                }
                else
                {
                    throw;
                }
            }

            if (response == null || response.Count == 0)
            {
                // Se não houver pagamento, cria um novo pagamento
                var novoPagamento = new Pagamento
                    {
                        FkEntregador = entregadorId,
                        Periodo = data,
                        FkCidade = cidadeId,
                        Adicional = null,
                        Desconto = null,
                        Adiantamento = null,
                        Pago = false,
                        NotaFiscal = false
                    };

                // Criação do novo pagamento
                var createdPagamento = await ApiService.PostDataAsync<Pagamento>("api/Pagamento/pagamentos", JsonContent.Create(novoPagamento));
                pagamentos.Add(createdPagamento);
                ShowAlert("Cidade vinculada com sucesso.", Color.Success);
            }
            else
            {
                // Se o pagamento já existir, atualiza a cidade
                var pagamentoExistente = response.First();
                pagamentoExistente.FkCidade = cidadeId;

                // Atualização do pagamento existente
                await ApiService.PutDataAsync<Pagamento>($"api/Pagamento/pagamentos/{pagamentoExistente.Id}", JsonContent.Create(pagamentoExistente));
                ShowAlert("Cidade atualizada com sucesso.", Color.Success);
            }

            // Atualizar a cidade do entregador na lista local
            var entregador = entregadores.FirstOrDefault(e => e.Id == entregadorId);
            if (entregador != null)
            {
                var cidade = cidades.FirstOrDefault(c => c.Id == cidadeId);
                if (cidade != null)
                {
                    entregador.CidadeId = cidade.Id;
                    entregador.CidadeNome = cidade.Nome;
                }
            }
        }
        catch (Exception ex)
        {
            ShowAlert("Erro ao criar ou atualizar pagamento: " + ex.Message, Color.Danger);
        }
    }


    private async Task SaveQuantidades(Entregador entregador, Entrega entrega, int valor)
    {
        try
        {
            DateOnly data = new DateOnly(filtroPagamento.Ano, filtroPagamento.Mes, 10);

            // Obter o pagamento existente
            var pagamento = pagamentos.FirstOrDefault(p => p.FkEntregador == entregador.Id && p.Periodo == data);
            if (pagamento == null)
            {
                throw new Exception("Erro ao verificar/criar pagamentos");
            }

            // Tentar obter o pagamentoEntrega existentevar pagamentoEntregas = await ApiService.GetDataAsync<List<PagamentoEntrega>>($"api/PagEnt/pagamentoentrega/{data.ToString("yyyy-MM-dd")}") ?? new List<PagamentoEntrega>();
            var pagamentoEntregas = await ApiService.GetDataAsync<List<PagamentoEntrega>>($"api/PagEnt/pagamentoentrega/{data.ToString("yyyy-MM-dd")}") ?? new List<PagamentoEntrega>();

            var existingPagamentoEntrega = pagamentoEntregas.FirstOrDefault(pe =>
                pe.FkPagamento == pagamento.Id && pe.FkEntrega == entrega.Id && pe.Periodo == data);

            if (existingPagamentoEntrega != null)
            {
                // Se existir, atualizar a quantidade
                existingPagamentoEntrega.Quantidade = valor;

                // Atualização do pagamentoEntrega existente
                await ApiService.PutDataAsync<PagamentoEntrega>($"api/PagEnt/pagamentoentrega/{existingPagamentoEntrega.Id}", JsonContent.Create(existingPagamentoEntrega));

            }
            else
            {
                // Se não existir, criar um novo
                var newPagamentoEntrega = new PagamentoEntrega
                    {
                        FkPagamento = pagamento.Id,
                        FkEntrega = entrega.Id,
                        Quantidade = valor,
                        Periodo = data
                    };

                // Criação do novo pagamentoEntrega
                await ApiService.PostDataAsync<PagamentoEntrega>("api/PagEnt/pagamentoentrega", JsonContent.Create(newPagamentoEntrega));
            }

            if (entrega.Nome != null)
            {
                entregador.Quantidades![entrega.Nome] = valor;
            }
            // var pagamentoEntrega = new PagamentoEntrega
            //     {
            //         FkPagamento = pagamento.Id,
            //         FkEntrega = entrega.Id,
            //         Quantidade = valor,
            //         Periodo = data
            //     };

            // Tentativa de atualização
            // try
            // {
            //     var updateResponse = await ApiService.PutDataAsync<PagamentoEntrega>($"api/PagEnt/pagamentoentrega/{pagamentoEntrega.Id}", JsonContent.Create(pagamentoEntrega));

            // }
            // catch (HttpRequestException ex)
            // {
            //     // Verifica se a exceção o put deu certo, se não usa post
            //     if (ex.Message.Contains("404"))
            //     {
            //         await ApiService.PostDataAsync<PagamentoEntrega>("api/PagEnt/pagamentoentrega", JsonContent.Create(pagamentoEntrega));
            //     }
            //     else
            //     {
            //         // Se for outra exceção, deve ser tratada fora
            //         throw;
            //     }
            // }
            ShowAlert("Quantidade salva", Color.Success);
        }
        catch (Exception ex)
        {
            ShowAlert("Erro ao salvar quantidades: " + ex.Message, Color.Danger);
        }
    }


    private async Task OnQuantidadeChanged(Entregador entregador, Entrega entrega, int valor)
    {
        if (entregador.CidadeId == 0)
        {
            ShowAlert("ERRO! Selecione uma cidade antes de inserir uma quantidade", Color.Danger);
            return;
        }

        // Atualizar a tabela imediatamente
        if (entrega.Nome != null)
        {
            entregador.Quantidades![entrega.Nome] = valor;
        }

        // Cancelar o token anterior, se existir
        debounceCts?.Cancel();
        debounceCts = new CancellationTokenSource();

        try
        {
            // Aguardar 2 segundos antes de continuar
            await Task.Delay(2000, debounceCts.Token);

            // Se o token não foi cancelado, continuar com a execução

            if (int.TryParse(valor.ToString(), out int quantidade))
            {
                await SaveQuantidades(entregador, entrega, quantidade);
            }
        }
        catch (TaskCanceledException)
        {
            // Ignorar a exceção se a tarefa foi cancelada
        }
    }

    private int GetQuantidade(Entregador entregador, Entrega entrega)
    {
        if (entrega.Nome != null && entregador.Quantidades != null)
        {
            return entregador.Quantidades.TryGetValue(entrega.Nome, out var quantidade) ? quantidade : 0;
        }
        return 0;
    }

    private async Task BuscarQuantidades()
    {
        foreach (var entregador in entregadores)
        {
            entregador.Quantidades?.Clear();
        }

        await LoadCidades();
        await LoadEntregadores();
        await LoadEntregas();
        await LoadQuantidades();
        await LoadAssociationsCities();
        StateHasChanged();
    }

    private bool showAlert = false;
    private string alertMessage = string.Empty;
    private Color alertColor = Color.Primary;

    private void ShowAlert(string message, Color color)
    {
        alertMessage = message;
        alertColor = color;
        showAlert = true;
    }

    public class Entregador
    {
        public int Id { get; set; }
        public string? Nome { get; set; }
        public string? Sobrenome { get; set; }
        public string? Pix { get; set; }
        public bool Situacao { get; set; }
        public Dictionary<string, int>? Quantidades { get; set; } = new Dictionary<string, int>();
        public int CidadeId { get; set; } = 0;
        public string? CidadeNome { get; set; }
    }

    public class Entrega
    {
        public int Id { get; set; }
        public string? Nome { get; set; }
        public decimal Valor { get; set; }
        public bool Situacao { get; set; }
    }

    public class FiltroPagamento
    {
        public int Mes { get; set; } = DateTime.Now.Month - 1;
        public int Ano { get; set; } = DateTime.Now.Year;
    }

    public class Pagamento
    {
        public int Id { get; set; }
        public decimal? Adicional { get; set; }
        public decimal? Desconto { get; set; }
        public decimal? Adiantamento { get; set; }
        public bool? Pago { get; set; }
        public bool? NotaFiscal { get; set; }
        public int FkCidade { get; set; }
        public int FkEntregador { get; set; }
        public DateOnly Periodo { get; set; }
    }

    public class PagamentoEntrega
    {
        public int Id { get; set; }
        public int Quantidade { get; set; }
        public int FkEntrega { get; set; }
        public int FkPagamento { get; set; }
        public DateOnly Periodo { get; set; }
    }

    public class Cidade
    {
        public int Id { get; set; }
        public string? Nome { get; set; }
        public int FkEstado { get; set; }
    }

    public class PagamentoNaoEncontradoException : Exception
    {
        public PagamentoNaoEncontradoException(string message) : base(message) { }
    }
}
