@page "/usuarios"
@rendermode InteractiveServer

@using Blazorise
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using System.Text.Json
@inject IJSRuntime JS
@inject ApiService ApiService
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Usuários</PageTitle>

<h1>Usuários</h1>

<Alert @bind-Visible="showAlert" Color="@alertColor">
    @alertMessage
    <CloseButton />
</Alert>

@if (permissao == "1")
{
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-success" @onclick="ShowNewUserModal"><i class="bi bi-plus-circle"></i></button>
    </div>

    <Table Striped Bordered>
        <TableHeader ThemeContrast="ThemeContrast.Dark">
            <TableRow>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>Nome de Usuário</TableHeaderCell>
                <TableHeaderCell>Permissão</TableHeaderCell>
                <TableHeaderCell>Operações</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @if (usuarios != null)
            {
                int rowIndex = 1;
                @foreach (var usuario in usuarios)
                {
                    <tr>
                        <td><strong>@rowIndex</strong></td>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Permissao</td>
                        <td>
                            <button class="btn btn-primary btn-sm" @onclick="() => ShowEditUserModal(usuario)"><i class="bi bi-pencil"></i></button>
                            <button class="btn btn-danger btn-sm" @onclick="() => OnDeleteClicked(usuario.Id)"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    rowIndex++;
                }
            }
        </TableBody>
    </Table>

    <Modal @bind-Visible="showNewUserModal">
        <ModalBackdrop />
        <ModalContent>
            <ModalHeader>
                <ModalTitle>@(isEditMode ? "Editar Usuario" : "Novo Usuario")</ModalTitle>
                <Button CloseButton @onclick="HideNewUserModal" />
            </ModalHeader>
            <ModalBody>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" @bind="newUser.Nome" />
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha" @bind="newUser.Senha" />
                </div>
                <div class="form-group">
                    <label for="permissao">Permissao</label>
                    <input type="number" class="form-control" id="permissao" @bind="newUser.Permissao" />
                </div>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Primary" @onclick="SaveNewUser">Salvar</Button>
                <Button Color="Color.Secondary" @onclick="HideNewUserModal">Cancelar</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}
else
{
    <p>Você não tem permissão para acessar esta página.</p>
}

@code {
    private bool showNewUserModal = false;
    private bool isEditMode = false;
    private List<Usuario> usuarios = new List<Usuario>();
    private Usuario newUser = new Usuario();
    private string token = string.Empty;
    private string permissao = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            // Obtenha a permissão do usuário a partir das claims
            permissao = user.FindFirst(c => c.Type == "permissao")?.Value;

            if (permissao == "1")
            {
                await LoadUsuarios();
            }

            StateHasChanged(); 
        }
    }

    private async Task LoadUsuarios()
    {
        try
        {
            usuarios = await ApiService.GetDataAsync<List<Usuario>>("api/Usuario/usuarios", token) ?? new List<Usuario>();
        }
        catch (Exception)
        {
            ShowAlert("Erro ao carregar usuarios", Color.Danger);
        }
    }


    private void ShowNewUserModal()
    {
        newUser = new Usuario();
        isEditMode = false;
        showNewUserModal = true;
    }

    private void ShowEditUserModal(Usuario usuario)
    {
        newUser = new Usuario
        {
            Id = usuario.Id,
            Nome = usuario.Nome,
            Senha = string.Empty,
            Permissao = usuario.Permissao
        };
        isEditMode = true;
        showNewUserModal = true;
    }

    private void HideNewUserModal()
    {
        showNewUserModal = false;
    }

    private async Task SaveNewUser()
    {
        try
        {
            if (isEditMode)
            {
                await ApiService.PutDataAsync<Usuario>($"api/Usuario/usuarios/{newUser.Id}", JsonContent.Create(newUser), token);
                ShowAlert("Usuario alterado com sucesso!", Color.Success);
            }
            else
            {
                await ApiService.PostDataAsync<Usuario>("api/Usuario/usuarios", JsonContent.Create(newUser), token);
                ShowAlert("Usuario cadastrado com sucesso!", Color.Success);
            }
            await LoadUsuarios();
            showNewUserModal = false;
        }
        catch (Exception)
        {
            ShowAlert("Erro ao salvar usuario!", Color.Danger);
        }
    }

    private async Task OnDeleteClicked(int id)
    {
        try
        {
            await ApiService.DeleteDataAsync<Usuario>($"api/Usuario/usuarios/{id}", token);
            await LoadUsuarios();
            ShowAlert("Usuario excluído com sucesso!", Color.Success);
        }
        catch (Exception)
        {
            ShowAlert("Erro ao excluir usuario!", Color.Danger);
        }
    }

    private bool showAlert = false;
    private string alertMessage = string.Empty;
    private Color alertColor = Color.Primary;

    private void ShowAlert(string message, Color color)
    {
        alertMessage = message;
        alertColor = color;
        showAlert = true;
    }

    public class Usuario
    {
        public int Id { get; set; }
        public string? Nome { get; set; }
        public string? Senha { get; set; }
        public int? Permissao { get; set; }
    }
}

